html{
    background-color:#F4F2EE;
    scroll-behavior: smooth;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
    
}
a {
    text-decoration: none;
    color: #ffffff;
    
}

a:hover {
    color: #000000;
    border-bottom:black 2px solid ;
    transition: color 0.3s ease;

}

.head {
    background-color: #5a633f;
    display: flex;
    height: 80px;
    border: 3px solid #373e22;
    align-items: center;
    justify-content: space-between;
}
.head #left{
   flex: 1;
   display: flex;
   justify-content: center;
}
.head #links{
   display: flex;
    flex: 1;
   justify-content: center;

}

.head #right{
    display: flex;
    justify-content: center;
    flex: 1;
}
.head #left a {
    font-size: 23px;
    font-weight: 600;
}

.head #right a {
    margin: 0 5px;
    padding: 5px 12px;
    font-weight: 500;
    border: #ebebeb 2px solid;
    border-radius: 7px;
}



.head #right a:hover{
    border: #000000 solid 2px;
}

.head #links a{
    margin: 0px 10px;
    font-size: 27px;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 60px;
    background-color: #ffff;
    border:#2f2d2d52 2px solid;
    border-radius: 10px;
}
.main #banner{
    display: flex;
    width: 100%;
    align-items: center;
    height: 300px;
    margin: 35px 0px;
    padding: 0px 100px
}

.main #banner img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   border: #373e22 2px solid;

}

/* .main{
    display: flex;
    margin: 0 30px;
    border: rgb(0, 0, 0) 3px solid;
}

.main #image1{
    flex: 2;
    display: flex;
    justify-content: flex-end;

}
.main #image1 img{
    width:100%;
}

.main #image2{
    display: flex;
    flex: 7 ;
    justify-content: flex-start;
}
.main #image2 img{
    width: 100%;
    
} */

#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 60px;
    background-color: #ffff;
    border:#2f2d2d52 2px solid;
    border-radius: 10px;
    padding: 10px;
}

#aboutme h1{
    background-color: #5a633f;
    color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    font-size: 33px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border:3px #373e22 solid;
}

#aboutme h2{
    font-size: 27px; 
    margin: 10px;
    font-weight: 510; 
    color: #43432f;
}

#aboutme #txt{
    margin: 0px 20px 5px 20px;
    text-align: justify;
    font-size: 18px ;
    font-weight: 500;
    color: #43432f;
}

#projects{
    height: 800px;
    background-color: white;
    margin: 15px 60px;
    display: grid;
    border:#2f2d2d52 2px solid;
    border-radius: 10px;
    padding: 10px;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "hd hd hd"
    "s1 s2 s3"
    "s4 s5 s6";
    
}

#projects h1{
    grid-area: hd;
    background-color: #5a633f;
    color: #f0f0f0;
    border-radius: 8px;
    padding: 12px;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    border:3px #373e22 solid;
}

#projects .myproj{
    background-color:#545454;
    border-radius: 8px; 
    padding: 8px;
    border:3px #000000ad solid;
    margin: 10px;
}
 

#projects .myproj a:hover{
    border:none ;
}

#projects .myproj img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  #projects .myproj img:hover {
    transform: scale(1.07); /* Slight zoom */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
  }
  
#projects #s01{
    grid-area: s1;

}

   

#projects #s02{
    grid-area: s2;

}

#projects #s03{
    grid-area: s3;

}

#projects #s04{
    grid-area: s4;

}

#projects #s05{
    grid-area: s5;

}

#projects #s06{
    grid-area: s6;

}
